{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
        {% if user.is_authenticated %}
          {% if parent_post %}
            <h2>Argument: </h2>
            <div class="jumbotron" style="background-color:red">
                <h2 style="text-align:center"><b>Side {{ parent_post.side }}</b></h2>
                <h3 style="text-align:center"><b>Posted by {{ parent_post.author }} on {{ reportedArgument.initial_post_date }}</b></h3>
                <p>{{ parent_post.content }}</p>
                <p><a href="{{ parent_post.source }}">Source</a></p>
            </div>

            <h3>Enter your comment here: </h3>
            {% crispy form %}
          {% endif %}
        {% else %}
            <p style="text-align:center">You need to be logged in to add a comment.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
