{% extends 'main/home.html' %} {% block content %}

<div class="container">
  <div class="page-header">
    <h1>Help<h1>
  </div>

  <div class="createNewArgument">
    <h2>Create a new argument</h2>
    <p>To create a new argument, you must first join as a Debater.</p>
    <p>You can post a new argument by typing your argument under the "Post an argument" text box on the homepage.</p>
    <p>You must include a source (accessible via a URL).</p>
  </div>

  <div class-"login">
    <h2>Log in and join the debate</h2>
    <p>Click <a href="/login/">here</a> to log in.</p>
    <p>After logging in for the first time, you will become a spectator to the debate.</p>
    <p>If you want to join the debate as a debater, click <a href="/join/">here</a> to join the debate.</p>
    <p>You will be shown the debate topic and asked to choose your side.</p>
    <img src="/images/join_page.png">
  </div>

  <div class="addAComment">
    <h2>Replying to arguments and adding comments</h2>
    <p>To add a comment or reply to a posted argument, simply click on the "Comment on this argument" link linked in the argument.</p>
  </div>

  <div class="reportAComment">
    <h2>Reporting arguments and comments</h2>
    <p>To report an argument, simply click on the "Report Argument" link in the argument card.</p>
    <p>To report a comment, simply click on the "Report Comment" link in the comments section.</p>
    <p>Once reported, a moderator will look at the report and determine the best course of action, which may include removal of comment/ argument or banning of user in question.</p>
  </div>
</div>

{% endblock %}