{% load bootstrap4 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<div class="container">
<nav class="navbar">
  <a class="navbar-brand" href="#">DebateMate</a>
  <button class="btn btn-outline-success my-2 my-sm-0" id="debate" type="button">Debate</button>
</nav>
<h3>Welcome to the daily debate!</h3>
{% if debate_feed %}
    <ul>
    {% for post in debate_feed %}
        <li>{{ post.comment }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No debates are available.</p>
{% endif %}
</div>

<!-- Ben: Future implementation for the Join popup box. -->
<div class="modal fade" id="joinDebateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <h4 class="modal-title">Join Debate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Username</h6>
    </div>
    <div class="modal-footer" id="join_popup">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Join</button>
    </div>
</div>

<script type="text/javascript">
    $('#debate').click(function() {
        $('#joinDebateModal').modal('show');
    });
</script>