{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
        {% if user.is_authenticated %}
          {% if reportedArgument %}
            <h2>Argument in question: </h2>
            <div class="jumbotron" style="background-color:silver">
                <h2 style="text-align:center"><b>Side {{ reportedArgument.side }}</b></h2>
                <h3 style="text-align:center"><b>Posted by {{ reportedArgument.author }} on {{ reportedArgument.initial_post_date }}</b></h3>
                <p>{{ reportedArgument.content }}</p>
                <p><a href="{{ reportedArgument.source }}">Source</a></p>
            </div>

            <h3>Please explain why you are reporting this argument.</h3>
            {% crispy form %}
          {% endif %}
        {% else %}
            <p style="text-align:center">You need to be logged in to report a debater.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
