{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
          {% if reportedArgument %}
            <h2 style="text-align:center">Argument in Question </h2>
            {% if reportedArgument.side == 'A' %}
            <div class="jumbotron" style="background-color:pink">
            {% elif reportedArgument.side == 'B' %}
            <div class="jumbotron" style="background-color:lightblue">
            {% endif %}
                <h2 style="text-align:center"><b>Side {{ reportedArgument.side }}</b></h2>
                <h3 style="text-align:center"><b>Posted by {{ reportedArgument.author }} on {{ reportedArgument.initial_post_date }}</b></h3>
                <p>{{ reportedArgument.content }}</p>
                <p><a href="{{ reportedArgument.source }}">Source</a></p>
            </div>

            <h3>Please explain why you are reporting this argument.</h3>
            {% crispy form %}
          {% endif %}
        {% else %}
            <p style="text-align:center">You need to be logged in to report a debater.</p>
    {% endif %}
</div>
{% endblock %}
