{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
        {% if user.is_authenticated %}
          {% if selected_argument %}
            <h2>Argument in question: </h2>
            <div class="jumbotron" style="background-color:gray">
                <h2 style="text-align:center"><b>Side {{ selected_argument.side }}</b></h2>
                <h3 style="text-align:center"><b>Posted by {{ selected_argument.author }} on {{ selected_argument.initial_post_date }}</b></h3>
                <p>{{ selected_argument.content }}</p>
                <p><a href="{{ selected_argument.source }}">Source</a></p>
            </div>

            <h3>Please score this argument according to the following criteria: </h3>
            {% crispy form %}
          {% else %}
          OOPS <br> YOU ARE READING THIS BECAUSE A DEV MESSED UP
          {% endif %}
        {% else %}
            <p style="text-align:center">You need to be logged in to score an argument.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
