{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container">
<h3 style="text-align:center">Welcome to the Daily Debate, {{ name }}!</h3>
<h1 style="text-align:center">{{ topic }}</h1><br/>
{% if debate_feed %}
    {% for post in debate_feed %}
        {% if post.side == 'A' %}
        <div class="jumbotron" style="background-color:crimson">
        {% elif post.side == 'B' %}
        <div class="jumbotron" style="background-color:aqua">
        {% endif %}
            <h2 style="text-align:center"><b>Side {{ post.side }}</b></h2>
            <h3 style="text-align:center"><b>Posted by {{ post.author }} on {{ post.initial_post_date }}</b></h3>
            <p>{{ post.content }}</p>
            <p><a href="{{ post.source }}">Source</a></p>
            {% if post.isReported == False %}
              <p><a href="/report?post_id={{ post.id }}">Report argument</a></p>
            {% else %}
            <p>Reported.</p>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock%}
