{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content%}
<h3 style="text-align:center">Welcome to the daily debate, {{ name }}!</h3>
{% if debate_feed %}
   <h1 style="text-align:center"> {{topic}}</h1><br/>

{% for post in debate_feed %}
    <div class="card w-75" style="margin:auto">
        <div class="card-body" style="color: black;">
            <h5 class="card-title">By Debater: {{ post.author }}</h5>
            <h5 class="card-title">Side: {{post.side}}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
    </div>
    <br/>
        
<!-- <div class="card w-50" style="margin:auto">
    <div class="card-body" style="color: black; ">
        <h6 class="card-title">Responses</h6>
        {% for key, value in comments.items %}
            {% if key == post %}
                {% for item in value %}
                    <h4>{{ item.author.username }} {{ item.content }}</h4>
                {% endfor %}
            {% endif %}
        {% endfor %} -->

    <!-- Vote button maybe <a href="#" class="btn btn-primary">Button</a> -->
    </div>
</div>
<br/><hr class="fancyHR"/><br/>

{% endfor %}
{% else %}
<h1 style="text-align:center"> {{topic}}</h1><br/>
    <p style="text-align:center">No posts yet, check back later.</p>
{% endif %}
{% endblock%}
