{% extends 'main/home.html' %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container">
<h3 style="text-align:center">Welcome to the Daily Debate, {{ name }}!</h3>
<h1 style="text-align:center">{{ topic }}</h1><br/>
{% if debate_feed %}
    {% for post in debate_feed %}
        {% if post.side == 'A' %}
        <div class="jumbotron" style="background-color:pink">
        {% elif post.side == 'B' %}
        <div class="jumbotron" style="background-color:lightblue">
        {% endif %}
            <h2 style="text-align:center"><b>Side {{ post.side }}</b></h2>
            <h3 style="text-align:center"><b>Posted by {{ post.author }} on {{ post.initial_post_date }}</b></h3>
            <p>{{ post.content }}</p>
            <p><a href="{{ post.source }}">Source</a></p>
            {% if post.isReported == False %}
              <p><a href="/report_argument?post_id={{ post.id }}">Report argument</a></p>
            {% else %}
            <p>Reported.</p>
            {% endif %}
        </div>
        <!-- COMMENTS -->
        <div class="card w-50" style="margin:auto">
        <div class="card-body" style="color: black; ">
        <h6 class="card-title">Comments</h6>
        {% for key, value in comments.items %}
            {% if key == post %}
                {% for item in value %}
                    <h4>{{ item.author.username }} {{ item.content }}</h4>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock%}
