{% extends 'main/home.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<div class="container">
    <br>
    <a href="/moderate">Return to moderator tools</a>
        {% if user.is_authenticated %}
          {% if reported_comments_feed %}
            {% for comment in reported_comments_feed %}
              <h2>Reason given: {{comment.reasonForBeingReported}} </h2>
              {% if comment.isActive %}
                Comment is active. Deactivate <a href="/delete_comment?comment_id={{ comment.id }}">here.</a> Clear report <a href="/clear_comment_report?comment_id={{ comment.id }}">here.</a>
              {% else %}
                Comment has been deactivated.
              {% endif %}
              <div class="jumbotron" style="background-color:silver">
                <h2 style="text-align:center"><b>Comment</b></h2>
                <h3 style="text-align:center"><b>Written by {{ comment.author }} on {{ comment.initial_post_date }}</b></h3>
                <p>{{ comment.content }}</p>
              </div>
            {% endfor %}
          {% else %}
            <h3>There are no reported comments currently.</h3>

          {% endif %}
        {% else %}
          <h3>You must be logged in as a moderator to use this page.</h3>
        {% endif %}
</div>
{% endblock %}
