{% extends 'main/home.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
        {% if user.is_authenticated %}
          {% if reported_comments_feed %}
            {% for comment in reported_comments_feed %}
              <h2>Reason given: {{comment.reasonForBeingReported}} </h2>
              <div class="jumbotron" style="background-color:red">
                <h2 style="text-align:center"><b>Comment</b></h2>
                <h3 style="text-align:center"><b>Written by {{ comment.author }} on {{ comment.initial_post_date }}</b></h3>
                <p>{{ comment.content }}</p>
              </div>
              <br/>
            {% endfor %}
          {% else %}
            <h3>There are no reported arguments currently.</h3>
            <!-- {% crispy form %} -->
          {% endif %}
        {% else %}
          <h3>You must be logged in as a moderator to use this page.</h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
